<div class="row mb-5">
  <div class="col">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>

<div class="row">
  <div class="col">
      <a href="#" class="list-group-item d-flex flex-row text-dark mb-1" *ngFor="let recipe of recipes">
        <div class="w-75">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
        <img class="w-25 h-25" [src]="recipe.imagePath" alt="{{ recipe.name }}">
      </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
